<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/adminHome.css">
    <title>Admin</title>
</head>

<body>
    <!-- <h1 class="bg-bcca-color text-light text-center p-3 font-weight-normal">Base Camp Applicants</h1> -->
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-bcca-color">
        <span class="text-white">Base Camp Applicants</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-bcca" href="/"><span class="text-bcca">Home</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bcca" href="/student/home"><span class="text-bcca">Apply</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="card my-5 px-4 border-0">
            {{^applicants}}
            <div>
                <h1 class="text-danger text-center">No
                    {{#type}}
                    <span>{{.}}</span>
                    {{/type}}
                    applicants for the upcoming school year.</h1>
            </div>
            {{/applicants}}


            {{#applicants.0}}
            <h2 class="text-center pb-4">Here are your Applicant(s):</h2>
            <div class="applicant-filters d-lg-flex justify-content-around">
                <a class="text-primary text-decoration-none" href="/admin/home">All Applicants</a>
                <a class="text-primary text-decoration-none" href="/admin/applicants?eligibilityStatus=eligible">Eligible
                    Applicants</a>
                <a class="text-primary text-decoration-none" href="/admin/applicants?eligibilityStatus=not-eligible">Non-Eligible
                    Applicants</a>

            </div>
            <hr>
            {{/applicants.0}}
            {{#applicants}}
            <div class="text-left">
                <h5 class="text-decoration-none p-2">
                    <a href="/applications/{{id}}">{{name}}</a>, <a href="/applications/school/{{highSchool}}">{{highSchool}}</a>
                    {{^eligibility}}
                    <span>
                        (Not eligible)
                    </span>
                    {{/eligibility}}
                    {{#eligibility}}
                    <span>(Eligible)</span>
                    {{/eligibility}}

                </h5>
            </div>
            {{/applicants}}

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>


</html>