<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

    <title>Base Camp Coding Academy</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark  bg-bcca-color">
        <span class="text-white">Base Camp Coding Academy</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-bcca" href="/student/home"><span class="text-bcca">Apply</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bcca" href="/admin/home"><span class="text-bcca">Admin</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="headerBkgImg" class="fill">
        <span class="center-spacer"></span>
        <img id="headerImg" src="imgs/header-logo.png">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="my-3 text-dark font-weight-normal">What is Base Camp Coding Academy</h1>
                <p>
                    Located in Water Valley, MS, Base Camp Coding Academy (BCCA) is a hands-on, challenging and fun
                    program, designed to train students to be software developers in 12 months.
                </p>
                <p>
                    In a small classroom setting, you will work with real world technologies to learn the
                    fundamentals of coding, app development and the life leadership skills you will need to be
                    successful in your career and competitive in the job market.
                </p>
                <p>
                    <a href="https://basecampcodingacademy.org/about" target="_blank">Read more...</a>
                </p>
                <p class="text-center">
                    <img class="bccaClassImg mb-3" src="imgs/class-of-2019.jpg">
                </p>
                <hr>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 align-middle my-4">
                <p>
                    Copyright © LMD 2019 <span class="pr-2"></span> | <span><a class="pl-2" href=""> Legal</a></span>
                </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 align-middle my-4">
                <p>
                    <a href="https://www.facebook.com/basecampcodingacademy" title="Join us on Facebook" target="_blank">
                        <img src="imgs/facebook-icon.png">
                    </a>
                    <a href="https://www.twitter.com/basecampcoding" title="Join us on Twitter" target="_blank">
                        <img src="imgs/twitter-icon.png">
                    </a>
                    <a href="https://www.instagram.com/basecampcoding" title="Join us on Instagram" target="_blank">
                        <img src="imgs/instagram-icon.png">
                    </a>
                </p>
            </div>
        </div>
    </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>