<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <title>Home</title>
</head>

<body>
    <div class=" bg-primary">
        <h1 class="text-light p-3 text-center">
            Base Camp Student Applying Process
        </h1>
    </div>

    <div class="container">
        <div class="card my-5 px-4 border-0">
            <b>
                <p class="address-info">Base Camp Coding Academy
                    <br>
                    301 North Main Street
                    <br>
                    Water Valley, MS 38965
                    <br>
                    <a class="text-muted text-decoration-none" href="http://www.basecampcodingacademy.org" target="_blank">http://www.basecampcodingacademy.org</a>
                </p>
            </b>
            <p>Thank you for applying to BCCA! This is the first step of a two part application process. Strong
                candidates will be contacted for an in-person interview, so make sure to check your email for
                follow-up! Base Camp is a targeted program for north Mississippi high school seniors able to live
                within driving distance of Water Valley.</p>
            <p>Space at BCCA is <u>very limited.</u> This is a huge opportunity, and responsibility. Please help us
                understand why you are the right person to receive this opportunity. In order to be eligible to apply
                you must have first been nominated by a teacher, employer, or other qualified individual who can speak
                to your abilities.</p>
        </div>
        <div class="student-app-links d-flex justify-content-end">
            <a href="/student/apply">
                <button class="btn btn-success"> Start Application</button>
            </a>
        </div>
    </div>

</body>

</html>